[Unit]
Description=nut exporter %I
After=network.target

[Service]
PIDFile=/var/run/nut_exporter/%I.pid
User=root
Group=root
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/nut_exporter -ups %I
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
